
.maintitle-container{
    height: 0;
    padding-top: 15.16%;
    position: relative;
}
.ac_coupon-content {
    position: absolute;
    top: 0;
    height: 100%;
    background-size: cover;
} 
.maintitle{
    color: #c85a64;
}

h2{
    margin-block-start:0;
    margin-block-end: 0;
    font-size: 45px;
}
.subhead {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    font-family: "SF Pro Display"
}

#navigation{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 44px;
    background: #c85a64;
}

#navigation .nav-content{
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
    padding-left: max(22px,env(safe-area-inset-left));
    padding-right: max(22px,env(safe-area-inset-right));
}

#navigation .nav-list{
    width: auto;
    z-index: 3;
    cursor: default;
    margin: 0 -8px;
    height: 44px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content:space-between;
}

#navigation .nav-item{
    list-style-type: none;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 44px;
    z-index: 1;
    vertical-align: top;

}
#navigation .nav-link{
    font-size: 12px;
    font-weight: 400;
    line-height: 3.66667;
    color: rgb(36,52,52);
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 8px;
    height: 44px;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
}
#navigation .nav-link:hover{
    color: aliceblue;
}



.daily-wrapper{
    height: 500px;
    width: 900px;
    padding-top: 44px;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "a b";
    margin:0 auto;
}

@media screen{}
.daily-wrapper .main-wrapper{
    grid-area: b;
    background-color: rgb(109, 211, 211);
}

.daily-wrapper .main-wrapper{
	 grid-area: b;
	 background-color: green;
}


.daily-wrapper .pic-wrapper{
    grid-area: a;
    background-image: url("https://pic2.zhimg.com/80/v2-546db17decab9d3549d0072b574d32e8_720w.webp?source=1940ef5c");
	 background-color: green;
}

.main-content{
	 user-select: none;
	 margin:0 15px;
}



